<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Product Store</title>

   </head>

<body>
<div class="container my-5">
    <hr>
    <h2>Update Product</h2>

    <form action="#" th:action="@{/saveProduct}" th:object="${product}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />

        <input type="text" th:field="*{name}" placeholder="Product Name" class="form-control mb-4 col-4">

        <input type="text" th:field="*{description}" placeholder="Product Description" class="form-control mb-4 col-4">

        <input type="text" th:field="*{price}" placeholder="Product Price" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Update Product</button>
    </form>

    <hr>

    <a th:href="@{/}" class="link-success"> Back to Product List</a>
</div>
</body>

</html>